html,body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./space.jpg");
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}


/*Mobile media queries*/
@media (min-width: 650px)
{
    body {
        background-size: 100%;
    }
}

/*Fixed nav-bar configuration*/
.nav-bar {
    z-index: 9999;
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    text-align: center;
    background-color: hsla(120,0%,0%,0.6);
    animation: nav-bar 1s;
    border-bottom: 1px solid rgba(255,255,255,0.3)
}

@keyframes nav-bar {
    from {
        transform: translateY(-100px);
    }
}
/*//////////////////////////*/


/*Header configuration*/
.header {
    height: 100%;
}
.header img {
    margin-top: 10vh;
    border-radius:50%;
}

.header h1 {
    font-size: 2.2em;
    font-family: 'Nova Mono', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    opacity: 0.9;
}

/*//////////////////////////*/

/*Fingerprint animated scroll configuration*/
.fingerprint-circle {
    stroke: #e5e5e5;
    opacity: 0.6;
}

.fingerprint {
    stroke: #e5e5e5;
    animation: fingerprint 2s linear infinite;
}

@keyframes fingerprint {
    0% {
    }
    30% {
    }
    50% {
        transform: translateY(-2px);
        opacity: 0;
        stroke: lawngreen;
    }
    100% {
        transform: translateY(-6px);
        opacity: 0;
    }
}
/*//////////////////////////*/

/*Container configurations*/
.container {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#202124;
    color: white;
    text-align: center;
}
/*//////////////////////////*/